*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    display: inline;
    padding-inline-start: 0%;
    padding-inline-end: 10%;
    background-color: grey;
    font-style: italic;
    font-size: x-large;
} 

body {
    background-image: url("")
}